@{
    ViewData["Title"] = "Minecraft Server Page";
}

@model webapp.ViewModels.MinecraftServerViewModel;


          <h2 class="sub-header">Minecraft Servers</h2>
          <div class="table-responsive">
            <table class="table table-striped">
            <thead>
                <tr>
                     <th>
                        Instance Name
                    </th>
                    <th>
                        Minecraft Link
                    </th>
                    <th>
                        RCon Link
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach(var server in Model.MinecraftServers)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => server.Name)
                        </td>
                         <td>
                            @String.Concat(server.Endpoints[0].Name," - ", server.Endpoints[0].Address)
                        </td> 
                            <td>                                       
                            @String.Concat(server.Endpoints[1].Name," - ", server.Endpoints[1].Address)
                        </td> 

                        <td>    
                            <a asp-controller="MinecraftServer"  asp-action="Delete" asp-route-id="@server.Name">[Delete]</a>
                       </td>
                    </tr>
                }
            </tbody>
        </table>
